body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #3E3E3E;
    margin: 0;
  }
  h1{
      font-size: 50px;
  }
  
  section{
      margin-bottom: 80px;
  }
.template{
    margin-left: 130px;
    margin-right: 130px;
}
.flexable-container{
    display: flex;
}
.banner-half{
    width: 50%;   
}
.mission-color{
    color: #FF5959;
}

.link-btn{
    text-decoration: none;
    background: #FFAD5A;
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
    
}

/*top banner section start*/

.stay-padding{
    padding-top: 50px;
}

.stay{
    margin-top: 150px;
}
#stay-font{
    font-family: 'Yeseva One', cursive;
    font-size: 40px;
}

#stay-font h1{
    font-weight: normal;
    margin: 10px;
}

#stay-left-bar{
    float: left;
    height: 95px;
    border: 3px solid #FFAD5A;
    border-radius: 20px;
    padding-left: 0px;
    margin-top: 13px;
    margin-right: 10px;
}



.banner-half img{
    width: 70%;
    padding-left: 5%;

}
.stay-discription p{
    width: 70%;
    margin-top: 40px;
    margin-bottom: 25px;
}

/*<!--Mission banner section Start-->*/

.mission-banner-header{
    text-align: center;
}
.mission-banner-item{
    border-radius: 26px;
    margin-right: 12px;
    margin-left: 12px;
    padding: 2%;
    width: 30%;
}
h3{
    color: #000;
}
.mission-banner-item img{
    width: 40%;
}

.mission-bg-color{
    background-color: #EDF5F6;
}
.vission-bg-color{
    background-color: #FFEEEE;
}
.goals-bg-color{
    background-color: #FFF4D6;
}

/*!--Develop Without Limits Section Start-->*/


.develop-image img{
    width: 80%;
}
.half-image{
    width: 40%;
}

.half-contain{
    width: 60%;
}
.develop-contain{
    margin-top: 2%;
}
.develop-contain h2{
    font-size: 36px;
    margin: 0;
    font-weight: 700;
}
.develop-contain p{
    margin-bottom: 30px;
}

/*<!--Community section Start-->*/

.community-section-bg{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 211px;
    background-size: 220px;
}
.community-contain{
    margin-top: 2%;
    margin-left: 130px;
    margin-right: 130px;
    padding-right: 30px;
}
    

.community-contain h2{
    font-size: 36px;
    margin: 0;
    font-weight: 700;
}


    /*Footer section Start*/


footer{
    background-color: #0B0D17;
    text-align: center;
    color: white;
    padding: 25px 0px;
}

footer h1{
    font-family: 'Lobster', cursive;
    
}